/*SCROLL BAR*/
::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}

::-webkit-scrollbar-track{
    background-color:rgb(0,0,0);
    /*color: #999999*/
}

::-webkit-scrollbar-thumb{
    background: rgba(200,200,200,0.1);
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(200,200,200,0.25);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}

/*TYPOGRAPHY*/
@font-face{
    font-family: avant-garde-light;
    src: url(../font/avant/itc-avant-garde-gothic-std-extra-light-5895708744eb6.otf);
}

@font-face{
    font-family: avant-garde-regular;
    src: url(../font/avant/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}

.Tlight{
    font-family: avant-garde-light, serif;
}

.Tnormal{
    font-family: avant-garde-regular, serif;
}

.text-dark::selection{
    background: #333333;
    color: white;
}

.text-white::selection{
    background: #ffffff;
    color: #000000;
}

.text-normal{
    font-size: 1vw;
}

.text-subtitle{
    font-size: 1.8vw;
}

.text-sec-title{
    font-size: 2.6vw;
}

.text-sec-subtitle{
    font-size: 1.3vw;
}

.text-ficha{
    text-align: justify;
    text-align-last:center;
    hyphens: auto;
}


/*DIV'S*/
.vEspace{
    height: 4.5vw;
}

.container-fluid{
    padding: 0px;
}

.navbar{
    height: 7vh; 
    padding:0; 
}

.div-hero{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../imgs/hero1.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh!important;
    height: 100vh;
}

.div-ficha{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 30px;
}

.div-grey{
    background-color: #222222;
}

.div-footer{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../imgs/hero1.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
}

.bk-point{
    background:url(../imgs/points.svg);
    background-size: 200px;
    background-repeat: repeat; 
    background-position: center center; 
    background-attachment: fixed;
    min-height: 100vh!important;
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}

/*IMG'S*/
.logo-foot{
    width: 10%;
}

.img-drucker{
    width: 25%;
}

.img-serv{
    width: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.img-serv:hover{
    transform: scale(1.1);
}

.img-team{
    width: 250px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.img-red{
    height: 20px;
}

.img-uron{
    width:40%;
}

.brand-title{
    padding-top: 27vh;
    width: 40vw;
}


/*INPUT*/
input, .input-msj{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border-color: #dddddd;
    border-style: solid;
    background-color: rgb(240,240,240);
    transition: transform .2s;
}

input:focus, .input-msj:focus{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #333333;
    border-radius: 5px;
    outline-color: transparent; 

}

.input-msj{
    height: 30vh;
    resize: none;
    overflow-y: hidden;
}

.button-enviar{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border-color: #555555;
    border-style: solid;
    background-color: #555555;
    transition: transform .2s;
    color:white;
}

.button-enviar:hover{
    border-color: black;
    background-color: black;
    cursor: pointer;
}

/*COLUMNA-FILA*/
.padding-eje{
    padding-left: 100px; 
    padding-right: 100px;
}

#canva1{
    position: absolute;
    z-index: 1;
}

.sobre-canva{
    position: absolute;
    z-index: 5;
    padding-top: 52vh;
    padding-right: 0px;
    padding-left: 0px;
    width: 85%;
}

.hero-col1{
    padding-left: 80px;
    padding-right: 25vw;
}

.col-ficha{
    padding-left:1%;
    padding-right:1%;
}

/*HTML-ELEMENTO*/

html{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.brand-icon{
    height: 50px;
    padding-left: 15px;
}

.white-rect{
    border-color: white; 
    border-style: solid;
    border-width: 1.5px;
    width: 80%;
}

a:hover, a:link, a:visited, a:active{
    text-decoration: transparent;
    color: white;
}

a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1660px){

    /*TYPOGRAPHY*/
    .text-normal{
        font-size: 1.25vw;
    }

    .text-subtitle{
        font-size: 1.8vw;
    }

    .text-sec-title{
        font-size: 3vw;
    }

    .text-sec-subtitle{
        font-size: 1.5vw;
    }

    /*IMG'S*/
    .img-team{
        width: 175px;
    }

    .img-uron{
        width:65%;
    }

    .brand-title{
        padding-top: 35vh;
        width: 40vw;
    }

    /*COLUMNA-FILA*/
    #canva1{
        position: absolute;
        z-index: 1;
    }

    .hero-col1{
        padding-right: 20vw;
    }
}

@media only screen and (max-width: 1024px){

    /*TYPOGRAPHY*/
    .text-normal{
        font-size: 1.3vw;
    }

    .text-sec-subtitle{
        font-size: 1.7vw;
    }

    .text-sec-title{
        font-size: 3.3vw;
    }

    /*DIVS*/

    .div-hero{
        min-height: 70vh!important;
        height: 70vh;
    }

    /*IMG'S*/
    .img-team{
        width: 175px;
    }

    .img-uron{
        width:70%;
    }

    .brand-title{
        padding-top: 15vh;
        width: 40vw;
    }

    /*COLUMNA-FILA*/
    #canva1{
        position: absolute;
        z-index: 1;
    }

    .hero-col1{
        padding-right: 18vw;
    }

    .bk-point{
        min-height: 70vh!important;
    }

    .sobre-canva{
        padding-top: 30vh;
    }

}

@media only screen and (max-width: 600px){

    /*TYPOGRAPHY*/
    .text-normal{
        font-size: 3.5vw;
    }

    .text-sec-subtitle{
        font-size: 4vw;
    }

    .text-sec-title{
        font-size: 7vw;
    }

    .vEspace{
        height: 9vw;
    }

    /*DIVS*/
    .div-hero{
        min-height: 70vh!important;
        height: 70vh;
        padding: 0px;
    }

    /*IMG'S*/
    .img-drucker{
        width: 75%;
    }

    .img-team{
        width: 90%;
    }

    .img-uron{
        width:70%;
    }

    .brand-title{
        padding-top: 10vh;
        width: 70%;
    }

    /*COLUMNA-FILA*/
    .hero-col1{
        padding: 0px;
    }

    .col-ficha{
        padding-left:0px;
        padding-right:0px;
    }

    .div-footer{
        padding-left: 80px;
        padding-right: 80px;
    }

    .logo-foot{
        width: 50%;
    }
}